@charset "UTF-8";
.btn {
  background-color: #808080;
  color: black;
  border : solid 1px #000 ;
  width: 150px;
}


.table {
	left:210px;
	top:100px;
	position: absolute;
}

.address-txt {
	width: 300px;
}

th{
	text-align: right;
	vertical-align: top;
}

h4 {
	top:40px;
	left:120px;
	position: absolute;
}

.mailaddress {

}

.name-size {
	width: 280px;
}

.btn-login {
	position: absolute;
	top:200px;
	left:350px;
}