@charset "UTF-8";
.btn {
  background-color: #ffffff;
  color: black;
  border : solid 1px #000 ;
  width: 150px;
}


.btn-return {
	margin-top:148px;
	margin-left:355px;
}

.btn-ok {
	position: absolute;
	margin-left:185px;
	margin-top:130px;
}

.table {
	left:110px;
	position: absolute;
}

.address-txt {
	width: 300px;
}

.category {
	width: 177px;
	border-color:#9932CC;
}



th{
	text-align: right;
	vertical-align: top;
}

.address-size {
	width: 560px;
}

.name-size {
	width: 280px;
}

.address-size {
	width: 560px;
}

.name-size {
	width: 280px;
}

textarea {
    resize: none;
    width:150px;
    height:15px;
    font-family: arial, sans-serif;
}

.unit {
	top:118px;
	left:277px;
	position: absolute;
}