<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>製造部売上管理システム</title>
<link href="/css/add.css" rel="stylesheet"></link>
<meta charset="utf-8" />
</head>
<body>
	<h3>製造部売上管理システム:案件登録</h3>
	<div th:object="${managementRequest}">
		<div class="table">
			<table>
				<tr>
					<th>顧客* :</th>
					<td><span th:text="*{customer_name}"></span></td>
				</tr>
				<tr>
					<th class="cell_title">受注日 :</th>
					<td><span th:text="*{orderdate}"></span></td>
				</tr>
				<tr>
					<th class="cell_title">S番号 :</th>
					<td><span th:text="*{s_number}"></span></td>
				</tr>
				<tr>
					<th class="cell_title">件名* :</th>
					<td><span th:text="*{subject}"></span></td>
				</tr>
				<tr>
					<th class="cell_title">数量 :</th>
					<td><span th:text="*{quantity}"></span></td>
				</tr>
				<tr>
					<th class="cell_title">納入指定日 :</th>
					<td><span th:text="*{delivery_designation}"></span></td>
				</tr>
				<tr>
					<th class="cell_title">納入日 :</th>
					<td><span th:text="*{delivery_date}"></span></td>
				</tr>
				<tr>
					<th class="cell_title">請求日 :</th>
					<td><span th:text="*{billing_date}"></span></td>
				</tr>
				<tr>
					<th class="cell_title">見積金額 :</th>
					<td><span th:text="*{estimated_money}"></span></td>
				</tr>
				<tr>
					<th class="cell_title">受注金額 :</th>
					<td><span th:text="*{Order_money}"></span></td>
				</tr>
				<tr>
					<th class="cell_title">ステータス :</th>
					<td><span th:text="*{status}"></span></td>
				</tr>
				<tr>
					<th class="cell_title">備考 :</th>
					<td><span th:text="*{note}"></span></td>
				</tr>
			</table>
		</div>
		<form th:action="@{/create}" th:object="${managementRequest}" method="post">
		<input type="hidden" name="customer_name" th:value="*{customer_name}">
		<input type="hidden" name="orderdate" th:value="*{orderdate}">
		<input type="hidden" name="s_number" th:value="*{s_number}">
		<input type="hidden" name="subject" th:value="*{subject}">
		<input type="hidden" name="quantity" th:value="*{quantity}">
		<input type="hidden" name="delivery_designation" th:value="*{delivery_designation}">
		<input type="hidden" name="delivery_date" th:value="*{delivery_date}">
		<input type="hidden" name="billing_date" th:value="*{billing_date}">
		<input type="hidden" name="estimated_money" th:value="*{estimated_money}">
		<input type="hidden" name="Order_money" th:value="*{Order_money}">
		<input type="hidden" name="status" th:value="*{status}">
		<input type="hidden" name="note" th:value="*{note}">
		<div class="btn-ok">
			<input type="submit" value="確認" class="btn">
		</div>
		</form>
	</div>
	<form th:action="@{/add}" th:object="${managementRequest}">
		<input type="hidden" name="customer_name" th:value="*{customer_name}">
		<input type="hidden" name="orderdate" th:value="*{orderdate}">
		<input type="hidden" name="s_number" th:value="*{s_number}">
		<input type="hidden" name="subject" th:value="*{subject}">
		<input type="hidden" name="quantity" th:value="*{quantity}">
		<input type="hidden" name="delivery_designation" th:value="*{delivery_designation}">
		<input type="hidden" name="delivery_date" th:value="*{delivery_date}">
		<input type="hidden" name="billing_date" th:value="*{billing_date}">
		<input type="hidden" name="estimated_money" th:value="*{estimated_money}">
		<input type="hidden" name="Order_money" th:value="*{Order_money}">
		<input type="hidden" name="status" th:value="*{status}">
		<input type="hidden" name="note" th:value="*{note}">
		<div class="btn-return">
			<button type="submit" class="btn">戻る</button>
		</div>
	</form>
</body>
</html>