<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>製造部売上管理システム</title>
<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
<link href="/css/customer_delete.css" rel="stylesheet"></link>
<meta charset="utf-8" />
</head>
<body>
	<h3>下記の顧客を削除します。よろしいですか？</h3>
	<h4>[[${errmessage}]]</h4>
	<form th:action="@{/customer_deleteupdate}"
		method="post">


		<div class="table">
			<table>
				<tr>
					<th>顧客* :</th>
					<td th:text="${customer.customer_name}"></td>
				</tr>
				<tr>
					<th class="cell_title">ステータス :</th>
					<td  th:text="${status1}"></td>
				</tr>
				<tr>
					<th></th>
					<td th:text="${status2}"></td>
				</tr>
				<tr>
					<th></th>
					<td th:text="${status3}"></td>
				</tr>
				<tr>
					<th></th>
					<td th:text="${status4}"></td>
				</tr>
				<tr>
					<th></th>
					<td th:text="${status5}"></td>
				</tr>
				<tr>
					<th></th>
					<td th:text="${status6}"></td>
				</tr>
				<tr>
					<th></th>
					<td th:text="${status7}"></td>
				</tr>
				<tr>
					<th></th>
					<td th:text="${status8}"></td>
				</tr>
				<tr>
					<th></th>
					<td th:text="${status9}"></td>
				</tr>
				<tr>
					<th></th>
					<td th:text="${status10}"></td>
				</tr>
			</table>
		</div>
		<div class="btn-ok">
		<input type="hidden" name="customer_id" th:value="${customer.customer_id}">
			<input type="submit" value="確認" class="btn">
		</div>
	</form>
	<form th:action="@{/customer_list}" method="post">
		<div class="btn-return">
			<button type="submit" class="btn">戻る</button>
		</div>
	</form>

</body>
</html>