<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>売上管理システム</title>
<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
<link href="/css/customer_list.css" rel="stylesheet"></link>
<meta charset="utf-8" />
</head>
<body>
	<h3>製造部売上管理システム:顧客一覧</h3>

<form th:action="@{/customer_add}" method="post">
		<button type="submit" class="btn-sinki">顧客登録</button>
	</form>
	<form th:action="@{/list}" method="get">
		<button type="submit" class="btn-sinki">案件一覧</button>
	</form>
	<br>
	<br>
	<div class="list_table">
	<div >
		<table class="list">
			<thead>
				<tr class="jyusyoroku_list">
					<th>No.</th>
					<th>顧客</th>
					<th colspan="2">&emsp;&emsp;</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="list : ${list}">
					<td class="center" th:text="${listStat.count}"></td>
					<td class="name" th:text="${list.customer_name}"></td>
					<td bgcolor=#808080>
						<form th:action="@{/customer_edit/{id}(id=*{list.customer_id})}" method="post">
							<button type="submit" class="btn-edit-delete">編集</button>
						</form>
					</td>
					<td bgcolor=#808080>
						<form th:action="@{/customer_delete/{id}(id=*{list.customer_id})}" method="post">
							<button type="submit" class="btn-edit-delete">削除</button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
		</div>
</div>

</body>
</html>