<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>住所録管理システム</title>
<script th:inline="javascript">
</script>
<link href="/css/list.css" rel="stylesheet"></link>
<meta charset="utf-8" />
</head>
<body>
	<h3>製造部売上管理システム:案件一覧</h3>
	<button type="submit" class="btn-sinki">新規登録</button>
	<br><br>
	<div class="list_table">
	<table>
		<thead>
			<tr class="jyusyoroku_list">
				<th>No.</th>
				<th>顧客</th>
				<th>受注日</th>
				<th>件名</th>
				<th>数量</th>
				<th>納入指定日<br>/納入日</th>
				<th>請求日</th>
				<th>見積金額<br>/受注金額</th>
				<th>ステータス</th>
				<th colspan="2">&emsp;&emsp;</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="user,list : ${userlist}" th:object="${user}">
				<td class="center" th:text="${list.count}"></td>
				<td class="name" th:text="*{name}"></td>
				<td class="listaddress" th:attr="onmouseover=|mOver('*{address}')|"
					onmouseout="mOut()">[[*{address}]]</td>
				<td class="tel" th:text="*{phone}"></td>
				<td bgcolor=#808080><form th:action="@{/user/{id}(id=*{id})}">
						<button type="submit" class="btn-edit-delete">編集</button>
					</form></td>
				<td bgcolor=#808080><form
						th:action="@{/user/{id}/delete(id=*{id})}">
						<button type="submit" class="btn-edit-delete">削除</button>
					</form></td>
			</tr>
		</tbody>
	</table>
	</div>
</body>
</html>